
.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 5px;
    background-color: #fff;
    height: 100px;
    border-radius: 30px;
    transition: .1s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px;
    transition: .3s linear all;
    transform: scale(1.2);
    /* transform: scale3d(1.5, 1, 1); */
    cursor: pointer;
}

.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}

.col-md-3 .card-counter p {

    font-weight: bold;
}



/**==============for ipad view========================**/
@media (min-width:600px) {

    .card-counter {

        border-radius: 10px;
        height: 100px;
        margin: 2px;
        box-shadow: 3px 2px 12px #DADADA;
        transition: .1s linear all;


    }
}

/**========================for mobile view=================**/
@media (min-width:480px) {

    .card-counter {

        border-radius: 10px;
        height: 100px;
        margin: 2px;
        box-shadow: 3px 2px 12px #DADADA;
        transition: .1s linear all;
    }

}

/***=============================for laptop are desktop view===============**/

@media (min-width:1281px) {


    .card-counter {
        border-radius: 10px;
        height: 100px;
        margin: 5px;
        box-shadow: 3px 2px 12px #DADADA;
        transition: .1s linear all;
        transform: scale(1);
        align-items: center;




    }

    .card-counter:hover {

        transform: scale(1.1);



    }






}


/* Chart  */


.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

/* i tag  */
.spec{
    color: #007bff;
}

/* precaution  */

.precaution{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPara{
    text-align: center;
}

/* scroll bar  */
::-webkit-scrollbar{

    width: 5px;
  }

  ::-webkit-scrollbar-thumb{
    
    background-image: linear-gradient(#007bff,#ef5350,#66bb6a,#26c6da);
   
      border-radius: 20px;
  }



  /* map  */
  .geoMap{
      justify-content: center;
      align-items: center;
      align-self: center;
      overflow-x: auto;
      width: 100%;
      height: 600px;
  }

  #regions_div{
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow-x: auto;
  }